{% extends "base.html" %}
{% load static %}
{% block content %}
{% autoescape off %}

<div class="container mt-4">
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="col-xl-12 col-lg-12 text-center">
        <div class="card-header py-3 mb-4">
            <h3 class="m-0 font-weight-bold text-danger">Account Activation Failed</h3>
            <p>Sorry, the activation link is invalid or has expired. Please try again or contact support for assistance.</p>
        </div>
        <p>
            <a href="{% url 'home' %}" class="btn btn-primary">
                <span class="icon text-white-50"><i class="fas fa-arrow-left"></i></span>
                <span class="text">Go Back</span>
            </a>
        </p>
        </div>
    </div>
</div>

{% endautoescape %}
{% endblock %}