{% extends "base.html" %}
{% load static %}
{% block content %}

<head>
    <title>Password Reset Complete</title>
</head>

<div class="container mt-4">
    <div class="col-xl-12 col-md-12 mb-12">
        <div class="col-xl-12 col-lg-12 text-center">
        <div class="card-header py-3 mb-4">
            <h3 class="m-0 font-weight-bold text-primary">Password Reset Completed.</h3>
            <p>Your password has been successfully reset.</p>
        </div>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>


{% endblock %}